@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer base {
  :root {
    --background: 210 15% 94%;
    /* #EEF0F3 */
    --foreground: 224 28% 15%;
    --card: 0 0% 100%;
    --card-foreground: 224 28% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 28% 15%;
    --primary: 224 28% 44%;
    /* #51628F */
    --primary-foreground: 210 15% 98%;
    --secondary: 210 15% 90%;
    --secondary-foreground: 224 28% 44%;
    --muted: 210 15% 88%;
    --muted-foreground: 224 10% 40%;
    --accent: 196 69% 59%;
    /* #52B9DE */
    --accent-foreground: 210 15% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 15% 98%;
    --border: 224 20% 85%;
    --input: 224 20% 85%;
    --ring: 224 28% 44%;
    --radius: 0.75rem;
    --chart-1: 224 28% 44%;
    --chart-2: 196 69% 59%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 224 28% 10%;
    --foreground: 210 15% 98%;
    --card: 224 28% 12%;
    --card-foreground: 210 15% 98%;
    --popover: 224 28% 12%;
    --popover-foreground: 210 15% 98%;
    --primary: 210 15% 98%;
    --primary-foreground: 224 28% 44%;
    --secondary: 224 28% 15%;
    --secondary-foreground: 210 15% 98%;
    --muted: 224 28% 15%;
    --muted-foreground: 224 10% 60%;
    --accent: 196 69% 59%;
    --accent-foreground: 210 15% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 15% 98%;
    --border: 224 28% 20%;
    --input: 224 28% 20%;
    --ring: 210 15% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}